<main>
  <section class="logo">
    <picture><a routerLink="home"><img src="assets/logos/994-ginza-logo-kanji-white.svg" alt="994 GINZA"></a></picture>
  </section>
  <div>
    <img class="placeholder-img placeholder-img-hide" src="sorry_no_picture_here_yet.html" alt="">
  </div>
  <section class="image">
    <div class="loading-spinner">
    </div>
    <picture class="menu-image-container"><img class="menu-image" src="assets/menu/250_Sushi_Mix.png" alt="">
    </picture>
  </section>
  <section class="text-content">
    <h1>Menu</h1>
    <p><strong><a href="#lunch-menu">LUNCH MENU</a></strong></p>
    <p><strong><a href="#starters">STARTERS</a></strong></p>
    <p><strong><a href="#salads">SALADS</a></strong></p>
    <p><strong><a href="#soups">SOUPS</a></strong></p>
    <p><strong><a href="#main-dishes">MAIN DISHES</a></strong></p>
    <p><strong><a href="#sushi">SUSHI</a></strong></p>
    <p style="margin-bottom: 1em"><strong><a href="#desserts">DESSERTS</a></strong></p>
    <p class="backlink" style="margin-top: 1em; margin-bottom:0em;"><a href="assets/menu/2022_994GINZA_Menu.pdf"
                                                                       class="pdf-menu"
                                                                       target="_blank">PDF MENU</a></p>
    <p class="backlink" style="margin-top: 0em; margin-bottom:1em;"><a href="assets/menu/2022_994GINZA_Drinks.pdf"
                                                                       class="pdf-menu"
                                                                       target="_blank">PDF DRINKS</a></p>
    <section id="lunch-menu">
      <h2>LUNCH MENU</h2>
      <section class="info">
        <p>serviert mit Miso-Suppe</p>
        <p lang="en">served with Miso soup</p>
      </section>
      <article data-id="250_Sushi_Mix">
        <header>
          <p class="article-id">250</p>
          <h3 class="firstDish">SUSHI MIX</h3>
          <p class="price">12 €</p>
        </header>
        <p>4 Nigiri, 1 Uramaki</p>
      </article>
      <article data-id="251_Veggie_Mix">
        <header>
          <p class="article-id">251</p>
          <h3>VEGGIE MIX</h3>
          <p class="price">10 €</p>
        </header>
        <p>4 Nigiri, 1 Uramaki</p>
      </article>
      <article data-id="252_Nigirimix">
        <header>
          <p class="article-id">252</p>
          <h3>NIGIRI MIX</h3>
          <p class="price">10 €</p>
        </header>
        <p>6 Nigiri</p>
      </article>
      <article data-id="253_Kaisenbowl">
        <header>
          <p class="article-id">253</p>
          <h3>KAISEN BOWL</h3>
          <p class="price">10 €</p>
        </header>
        <p>Roher Fisch Mix, Sushi-Reis</p>
        <p class="en">Raw fish mix, Sushi rice</p>
      </article>
      <article data-id="254_Sake_Bento">
        <header>
          <p class="article-id">254</p>
          <h3>SAKE BENTO</h3>
          <p class="price">12 €</p>
        </header>
        <p>Lachs, Uramaki, Salat, Reis</p>
        <p lang="en">Salmon, Uramaki, salad, rice</p>
      </article>
      <article data-id="255_Kamo_Bento">
        <header>
          <p class="article-id">255</p>
          <h3>KAMO BENTO</h3>
          <p class="price">12 €</p>
        </header>
        <p>Ente, Uramaki, Salat, Reis</p>
        <p lang="en">Duck, Uramaki, salad, rice</p>
      </article>
      <article data-id="256_Torikara_Bowl">
        <header>
          <p class="article-id">256</p>
          <h3>TORIKARA BOWL</h3>
          <p class="price">10 €</p>
        </header>
        <p>Hühnerkeule knusprig, Reis</p>
        <p lang="en">Crispy chicken leg, rice</p>
      </article>
      <article data-id="257_Gyu_Bowl">
        <header>
          <p class="article-id">257</p>
          <h3>GYU BOWL</h3>
          <p class="price">12 €</p>
        </header>
        <p>Rindfleisch, Zwiebeln, Reis, Ingwer, Ei</p>
        <p lang="en">Beef, onions, rice, ginger, egg</p>
      </article>
      <article data-id="258_Dragon_Bowl_">
        <header>
          <p class="article-id">258</p>
          <h3>DRAGON BOWL</h3>
          <p class="price">15 €</p>
        </header>
        <p>Aal, Sansho-Pfeffer, Reis</p>
        <p lang="en">Eel, Sansho pepper, rice</p>
      </article>
      <article data-id="259_Wildkraeutercurry">
        <header>
          <p class="article-id">259</p>
          <h3>WILDKRÄUTER CURRY</h3>
          <p class="price">10 €</p>
        </header>
        <p>Hühnchen, Gemüse, Wildkräutersalat, Reis<br>Mit Tofu erhältlich</p>
        <p lang="en">Chicken, vegetables, wild herb salad, rice<br>Available with tofu</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">260</p>
          <h3>TEISHOKU-SET</h3>
          <p class="price">12 €</p>
        </header>
        <p>Reisschale mit wechseldem Topping und Mixed Pickels <br>(Bitte fragen Sie bei der Bedienung nach)</p>
        <p lang="en">Rice bowl with changing topping and mixed pickles<br>(Please ask the waiter)</p>
      </article>
    </section>
    <section id="starters">
      <h2>STARTERS</h2>
      <h3 class="menu__headline">WARM</h3>
      <article data-id="01_Gyoza">
        <header>
          <p class="article-id">1</p>
          <h3>GYOZA</h3>
          <p class="price">6 €</p>
        </header>
        <p>Teigtaschen gebraten, Huhn, Gemüse</p>
        <p lang="en">Fried dumplings, chicken, vegetables</p>
      </article>
      <article data-id="02_Spring_Gyoza">
        <header>
          <p class="article-id">2</p>
          <h3>SPRING GYOZA</h3>
          <p class="price">6 €</p>
        </header>
        <p>Teigtaschen frittiert, Gemüse</p>
        <p lang="en">Deep-fried dumplings, vegetables</p>
      </article>
      <article data-id="03_Tsuki">
        <header>
          <p class="article-id">3</p>
          <h3>TSUKI</h3>
          <p class="price">7 €</p>
        </header>
        <p>Teigtaschen frittiert, Garnelen, Spicy Mayo</p>
        <p lang="en">Deep-fried dumplings, prawn, spicy mayo</p>
      </article>
      <article data-id="4_Hot_Basket">
        <header>
          <p class="article-id">4</p>
          <h3>HOT BASKET</h3>
          <p class="price">6 €</p>
        </header>
        <p>Teigtaschen gedämpft, Garnelen, Gemüse</p>
        <p lang="en">Steamed dumplings, prawns, vegetables</p>
      </article>
      <article data-id="5_Edamame">
        <header>
          <p class="article-id">5</p>
          <h3>EDAMAME</h3>
          <p class="price">6 €</p>
        </header>
        <p>Grüne Sojabohnen, Meersalz</p>
        <p lang="en">Green soy beans, sea-salt</p>
      </article>
      <article data-id="6_Yume">
        <header>
          <p class="article-id">6</p>
          <h3>YUME</h3>
          <p class="price">9 €</p>
        </header>
        <p>Thunfisch gebacken</p>
        <p lang="en">Baked tuna</p>
      </article>
      <article data-id="7_Poppukon">
        <header>
          <p class="article-id">7</p>
          <h3>POPPUKON</h3>
          <p class="price">6 €</p>
        </header>
        <p>Mais Tempura, Ponzu</p>
        <p lang="en">Corn Tempura, Ponzu</p>
      </article>
      <article data-id="8_Yuba">
        <header>
          <p class="article-id">8</p>
          <h3>YUBA</h3>
          <p class="price">10 €</p>
        </header>
        <p>Lachs in Yubamantel, Spinat, Miso-Sauce</p>
        <p lang="en">Salmon in Yuba coat, spinach, Miso sauce</p>
      </article>
      <article data-id="09_Mr_Tako">
        <header>
          <p class="article-id">9</p>
          <h3>MR. TAKO</h3>
          <p class="price">15 €</p>
        </header>
        <p>Oktopus gegrillt, Sesam</p>
        <p lang="en">Grilled octopus, sesame</p>
      </article>
      <article data-id="10_Nasu">
        <header>
          <p class="article-id">10</p>
          <h3>NASU</h3>
          <p class="price">6 €</p>
        </header>
        <p>Aubergine, Miso</p>
        <p lang="en">Eggplant, Miso</p>
      </article>
      <article data-id="11_Karaagee_01">
        <header>
          <p class="article-id">11</p>
          <h3>KARAAGE</h3>
          <p class="price">7 €</p>
        </header>
        <p>Hähnchen frittiert, Spicy Mayo</p>
        <p lang="en">Deep-fried chicken, spicy mayo</p>
      </article>
      <article data-id="12_Crispy_Ebi">
        <header>
          <p class="article-id">12</p>
          <h3>CRISPY EBI</h3>
          <p class="price">8 €</p>
        </header>
        <p>Garnelen frittiert, Spicy Mayo, Ponzu</p>
        <p lang="en">Deep-fried prawns, spicy mayo, ponzu</p>
      </article>
      <article data-id="13_Asupara_Kushi">
        <header>
          <p class="article-id">13</p>
          <h3>ASUPARA KUSHI</h3>
          <p class="price">7 €</p>
        </header>
        <p>Grüner Spargel in Tempurateig</p>
        <p lang="en">Green asparagus in Tempura dough</p>
      </article>
      <article data-id="14_Sake_Kushi_01">
        <header>
          <p class="article-id">14</p>
          <h3>SAKE KUSHI</h3>
          <p class="price">7 €</p>
        </header>
        <p>Lachs Spieße, Teriyakisauce, 2 Stk.</p>
        <p lang="en">Salmon skewers, Teriyaki sauce, 2 pcs.</p>
      </article>
      <article data-id="15_Sate_Bites">
        <header>
          <p class="article-id">15</p>
          <h3>SATÉ BITES</h3>
          <p class="price">7 €</p>
        </header>
        <p>Saté Hühnchen frittiert, Erdnusssauce</p>
        <p lang="en">Saté chicken filet bites, peanut sauce</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">16</p>
          <h3>AGEDASHI TOFU</h3>
          <p class="price">6 €</p>
        </header>
        <p>Seidentofu frittiert,<br>Dashi-Brühe, Daikon</p>
        <p lang="en">Deep-fried silky tofu,<br>Dashi broth, Daikon radish</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">17</p>
          <h3>SHOJINAGE TEMPURA</h3>
          <p class="price">16 €</p>
        </header>
        <p>Gemüse der Saison in Tempurateig</p>
        <p lang="en">Seasonal vegetables in Tempura dough</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">18</p>
          <h3>MORIAWASE TEMPURA</h3>
          <p class="price">18 €</p>
        </header>
        <p>Gemüse der Saison, Fisch <br>und Garnele in Tempurateig</p>
        <p lang="en">Seasonal vegetables, fish and <br>prawn in Tempura dough</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">19</p>
          <h3>PANKO EBI</h3>
          <p class="price">20 €</p>
        </header>
        <p>Garnelen frittiert im Panko-Teig</p>
        <p lang="en">Deep-fried prawns in Panko dough</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">29</p>
          <h3>HANA</h3>
          <p class="price">9 €</p>
        </header>
        <p>Frittierter Baby-Oktopus</p>
        <p lang="en">Deep-fried Baby octopus</p>
      </article>
      <h3>COLD</h3>
      <article data-id="no-photo">
        <header>
          <p class="article-id">20</p>
          <h3>KIRO</h3>
          <p class="price">10 €</p>
        </header>
        <p>Seewolf-Carpaccio, Aji de Amarillosauce, Maracuja</p>
        <p lang="en">Sea bass Carpaccio, Aji de Amarillo sauce, passionfruit</p>
      </article>
      <article data-id="21_Umi">
        <header>
          <p class="article-id">21</p>
          <h3>UMI</h3>
          <p class="price">12 €</p>
        </header>
        <p>Thunfisch-Carpaccio, Ingwer, Sojasauce</p>
        <p lang="en">Tuna Tiradito, ginger, soy sauce</p>
      </article>
      <article data-id="22_Sora">
        <header>
          <p class="article-id">22</p>
          <h3>SORA</h3>
          <p class="price">10 €</p>
        </header>
        <p>Lachs-Carpaccio, Ingwer, Sojasauce</p>
        <p lang="en">Salmon Carpaccio, ginger, soy sauce</p>
      </article>
      <article data-id="23_Auspara_03">
        <header>
          <p class="article-id">23</p>
          <h3>ASUPARA</h3>
          <p class="price">7 €</p>
        </header>
        <p>Grüner Spragel, Ponzu, Sesam</p>
        <p lang="en">Green asparagus, Ponzu, sesame</p>
      </article>
      <article data-id="24_Tako_994">
        <header>
          <p class="article-id">24</p>
          <h3>TAKO 994</h3>
          <p class="price">15 €</p>
        </header>
        <p>Nikkei Style Ceviche mit Oktopus, Zwiebeln, Tomaten, Avocado, Koriander</p>
        <p lang="en">Nikke style ceviche with octopus, onions, tomatoes, avocado, cilantro</p>
      </article>
      <article data-id="25_Tuna_Tataki">
        <header>
          <p class="article-id">25</p>
          <h3>TUNA TATAKI</h3>
          <p class="price">16 €</p>
        </header>
        <p>Thunfisch leicht gegrillt, Sesam, Wasabi, Sojasauce</p>
        <p lang="en">Light-grilled tuna, sesame, Wasabi, soy sauce</p>
      </article>
      <article data-id="26_Beef_Tataki">
        <header>
          <p class="article-id">26</p>
          <h3>BEEF TATAKI</h3>
          <p class="price">15 €</p>
        </header>
        <p>Rinderfilet leicht gegrillt, Ponzu, Knoblauchchips</p>
        <p lang="en">Light-grilled beef filet, Ponzu, garlic chips</p>
      </article>
      <article data-id="27_Bangkok_Baby">
        <header>
          <p class="article-id">27</p>
          <h3>BANGKOK BABY</h3>
          <p class="price">12 €</p>
        </header>
        <p><span>Entenwürfel pikant, Limetten, Fischsauce, Chili,</span> <span>Europagras, Koriander, Zwiebeln, Reis geröstet</span>
        </p>
        <p lang="en"><span>Duck cubes spicy, lime, fish sauce, chili,</span> <span>europe grass, coriander, onions, roasted rice</span>
        </p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">28</p>
          <h3>YURI</h3>
          <p class="price">14 €</p>
        </header>
        <p>Thunfischwürfel mariniert, Avocado</p>
        <p lang="en">Marinated tuna dices, avocado</p>
      </article>
    </section>
    <section id="salads">
      <h2>SALADS</h2>
      <article data-id="30_Aokis_Choice">
        <header>
          <p class="article-id">30</p>
          <h3>AOKI’S CHOICE</h3>
          <p class="price">6 €</p>
        </header>
        <p>Seetangsalat</p>
        <p lang="en">Seaweed salad</p>
      </article>
      <article data-id="31_Secret_Garden_Salad">
        <header>
          <p class="article-id">31</p>
          <h3>SECRET GARDEN SALAD</h3>
          <p class="price">15 €</p>
        </header>
        <p>Wildkräutersalat, roher Fisch, Avocado, Hausdressing</p>
        <p lang="en">Wild herb salad, raw fish, avocado, house salad dressing</p>
      </article>
      <article data-id="32_Avocado_Salad">
        <header>
          <p class="article-id">32</p>
          <h3>AVOCADO SALAD</h3>
          <p class="price">9 €</p>
        </header>
        <p>Wildkräutersalat, Avocado, Hausdressing</p>
        <p lang="en">Wild herb salad, avocado, house salad dressing</p>
      </article>
      <article data-id="33_Horenso">
        <header>
          <p class="article-id">33</p>
          <h3>HORENSO</h3>
          <p class="price">8 €</p>
        </header>
        <p>Babyspinat, Ponzu, Trüffelöl, Knoblauchchips</p>
        <p lang="en">Baby spinach, Ponzu, truffle oil, garlic chips</p>
      </article>
    </section>
    <section id="soups">
      <h2>SOUPS</h2>
      <article data-id="35_Miso">
        <header>
          <p class="article-id">35</p>
          <h3>MISO</h3>
          <p class="price">5 €</p>
        </header>
        <p>Tofu, Seetang, Frühlingszwiebeln</p>
        <p lang="en">Tofu, seaweed, spring onions</p>
      </article>
      <article data-id="36_Tom_Yam">
        <header>
          <p class="article-id">36</p>
          <h3>TOM YAM</h3>
          <p class="price">7 €</p>
        </header>
        <p>Garnelen, Gemüse, Koriander</p>
        <p lang="en">Prawns, vegetables, coriander</p>
      </article>
      <article data-id="37_Udon">
        <header>
          <p class="article-id">37</p>
          <h3>UDON</h3>
          <p class="price">8 €</p>
        </header>
        <p>Dashi, Udonnudeln, Hühnerfleisch, Frühlingszwiebeln, Sesam</p>
        <p lang="en">Dashi broth, Udon noodles, chicken, spring onions, sesame</p>
      </article>
      <article data-id="38_Tempura_Udon">
        <header>
          <p class="article-id">38</p>
          <h3>TEMPURA UDON</h3>
          <p class="price">15 €</p>
        </header>
        <p>Udon Suppe, Garnelen- & Gemüse-Tempura</p>
        <p lang="en">Udon soup, prawn & shrimp Tempura</p>
      </article>
      <article data-id="39_Kasisen_Miso">
        <header>
          <p class="article-id">39</p>
          <h3>KAISEN MISO</h3>
          <p class="price">7 €</p>
        </header>
        <p>Fisch, Seetang, Frühlingszwiebeln</p>
        <p lang="en">Fish, seaweed, spring onions</p>
      </article>
    </section>
    <section id="main-dishes">
      <h2>MAIN DISHES</h2>
      <article data-id="41_Sake">
        <header>
          <p class="article-id">41</p>
          <h3>SAKE</h3>
          <p class="price">18 €</p>
        </header>
        <p>Lachsfilet gebraten, Pak Choi, Teriyakisauce, Reis</p>
        <p lang="en">Fried salmon filet, Pak Choi, Teriyaki sauce, rice</p>
      </article>
      <article data-id="42_Kamo">
        <header>
          <p class="article-id">42</p>
          <h3>KAMO</h3>
          <p class="price">20 €</p>
        </header>
        <p>Barbarie Entenbrust, Gemüse, Mango-Miso-Sauce, Reis</p>
        <p lang="en">Barbarie duck breast, vegetables, mango Miso sauce, rice</p>
      </article>
      <article data-id="43_Tori">
        <header>
          <p class="article-id">43</p>
          <h3>TORI</h3>
          <p class="price">16 €</p>
        </header>
        <p>Hähnchenbrust, Sesam-Teriyakisauce, Gemüse, Reis</p>
        <p lang="en">Chicken breast, sesame Teriyaki sauce, vegetables, rice</p>
      </article>
      <article data-id="44_Miso_Beef">
        <header>
          <p class="article-id">44</p>
          <h3>MISO BEEF</h3>
          <p class="price">28 €</p>
        </header>
        <p>Rinderfilet, Guacamole, Miso-Teriyakisauce, Reis</p>
        <p lang="en">Beef filet, guacamole, Miso Teriyaki sauce, rice</p>
      </article>
      <!-- <article data-id="45_Crispy_Green_Dragon">
          <header>
              <p class="article-id">45</p>
              <h3>CRISPY GREEN DRAGON</h3>
              <p class="price">16 €</p>
          </header>
          <p>Riesengarnelen, grüne Reisflocken, Guacamole, Reis</p>
          <p lang="en">Green rice flakes, king prawns, guacamole, rice</p>
      </article> -->
      <article data-id="47_Veggie_Yakiudon">
        <header>
          <p class="article-id">46</p>
          <h3>YAKI UDON</h3>
          <p class="price">14 €</p>
        </header>
        <p>Udonnudeln gebraten, Hühnchen, Gemüse, Ei<br>Mit Tofu erhältlich</p>
        <p lang="en">Fried Udon noodles, chicken, vegetables, egg<br>Available with tofu</p>
      </article>
      <article data-id="47_Veggie_Yakiudon">
        <header>
          <p class="article-id">47</p>
          <h3>VEGGIE YAKIUDON</h3>
          <p class="price">12 €</p>
        </header>
        <p>Udonnudeln gebraten, Gemüse, Ei</p>
        <p lang="en">Fried Udon noodles, vegetables, egg</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">48</p>
          <h3>SWEET POTATO CURRY</h3>
          <p class="price">16 €</p>
        </header>
        <p>Hähnchen Curry, Süßkartoffeln, Gemüse, Reis<br>Mit Tofu erhältlich</p>
        <p lang="en">Chicken curry, sweet potatoes, vegetables, rice<br>Available with tofu</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">49</p>
          <h3>DUCK & CURRY</h3>
          <p class="price">18 €</p>
        </header>
        <p>Knusprige Ente, Gemüse der Saison, Reis</p>
        <p lang="en">Crispy duck, seasonal vegetables, rice</p>
      </article>
    </section>
    <section id="sushi">
      <h2>SUSHI</h2>
      <section>
        <h3>SASHIMI</h3>
        <section class="info">
          <p>8 Scheiben</p>
          <p lang="en">8 slices</p>
        </section>
        <article data-id="100_Sake">
          <header>
            <p class="article-id">100</p>
            <h3>SAKE</h3>
            <p class="price">16 €</p>
          </header>
          <p>Lachs</p>
          <p lang="en">Salmon</p>
        </article>
        <article data-id="101_Maguro">
          <header>
            <p class="article-id">101</p>
            <h3>MAGURO</h3>
            <p class="price">18 €</p>
          </header>
          <p>Thunfisch</p>
          <p lang="en">Tuna</p>
        </article>
        <article data-id="102_Buri">
          <header>
            <p class="article-id">102</p>
            <h3>SUZUKI</h3>
            <p class="price">16 €</p>
          </header>
          <p>Seewolf</p>
          <p lang="en">Sea bass</p>
        </article>
        <article data-id="103_Moriawase">
          <header>
            <p class="article-id">103</p>
            <h3>MORIAWASE</h3>
            <p class="price">22 €</p>
          </header>
          <p>Lachs, Thunfisch, Seewolf, Oktopus, Garnele</p>
          <p lang="en">Salmon, tuna, sea bass, octopus, prawn</p>
        </article>
      </section>
      <section>
        <h3>CHIRASHI BOWL</h3>
        <section class="info">
          <p>Sushi-Reis, Tamago, Shinko, Ingwer, wählbar mit:</p>
          <p lang="en">Sushi rice, Tamago, Shinko, ginger, selectable with:</p>
        </section>
        <article data-id="60_Abokado_Chirashi">
          <header>
            <p class="article-id">60</p>
            <h3>ABOKADO</h3>
            <p class="price">7 €</p>
          </header>
          <p>Avocado</p>
        </article>
        <article data-id="61_Buri_Chirashi">
          <header>
            <p class="article-id">61</p>
            <h3>SUZUKI</h3>
            <p class="price">13 €</p>
          </header>
          <p>Seewolf</p>
          <p lang="en">Sea bass</p>
        </article>
        <article data-id="62_Sake_Chirashi">
          <header>
            <p class="article-id">62</p>
            <h3>SAKE</h3>
            <p class="price">13 €</p>
          </header>
          <p>Lachs</p>
          <p lang="en">Salmon</p>
        </article>
        <article data-id="63_Maguro_Chirashi">
          <header>
            <p class="article-id">63</p>
            <h3>MAGURO</h3>
            <p class="price">15 €</p>
          </header>
          <p>Thunfisch</p>
          <p lang="en">Tuna</p>
        </article>
        <article data-id="64_Moriawase_Chirashi">
          <header>
            <p class="article-id">64</p>
            <h3>MORIAWASE</h3>
            <p class="price">18 €</p>
          </header>
          <p>Lachs, Thunfisch, Seewolf, Ikura</p>
          <p lang="en">Salmon, tuna, sea bass, Ikura</p>
        </article>
      </section>
      <section>
        <h3>NIGIRI</h3>
        <section class="info">
          <p>2 Stück</p>
          <p lang="en">2 pieces</p>
        </section>
        <article data-id="50_Maguro">
          <header>
            <p class="article-id">50</p>
            <h3>MAGURO</h3>
            <p class="price">7 €</p>
          </header>
          <p>Thunfisch</p>
          <p lang="en">Tuna</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">51</p>
            <h3>TAKO</h3>
            <p class="price">6 €</p>
          </header>
          <p>Oktopus</p>
          <p lang="en">Octopus</p>
        </article>
        <article data-id="52_Sake">
          <header>
            <p class="article-id">52</p>
            <h3>SAKE</h3>
            <p class="price">6 €</p>
          </header>
          <p>Lachs</p>
          <p lang="en">Salmon</p>
        </article>
        <article data-id="53_Suzuki">
          <header>
            <p class="article-id">53</p>
            <h3>SUZUKI</h3>
            <p class="price">6 €</p>
          </header>
          <p>Seewolf</p>
          <p lang="en">Sea bass</p>
        </article>
        <article data-id="54_Ikura">
          <header>
            <p class="article-id">54</p>
            <h3>IKURA</h3>
            <p class="price">7 €</p>
          </header>
          <p>Lachskavier</p>
          <p lang="en">Salmon caviar</p>
        </article>
        <article data-id="55_Unagi">
          <header>
            <p class="article-id">55</p>
            <h3>UNAGI</h3>
            <p class="price">7 €</p>
          </header>
          <p>Aal</p>
          <p lang="en">Eel</p>
        </article>
        <article data-id="56_Ebi">
          <header>
            <p class="article-id">56</p>
            <h3>EBI</h3>
            <p class="price">6 €</p>
          </header>
          <p>Garnele</p>
          <p lang="en">Prawn</p>
        </article>
        <article data-id="57_Abokado">
          <header>
            <p class="article-id">57</p>
            <h3>ABOKADO</h3>
            <p class="price">5 €</p>
          </header>
          <p>Avocado</p>
        </article>
        <article data-id="58_Asupara">
          <header>
            <p class="article-id">58</p>
            <h3>ASUPARA</h3>
            <p class="price">5 €</p>
          </header>
          <p>Spargel</p>
          <p lang="en">Asparagus</p>
        </article>
        <article data-id="59_Kinoko">
          <header>
            <p class="article-id">59</p>
            <h3>KINOKO</h3>
            <p class="price">5 €</p>
          </header>
          <p>Kräuterseitling</p>
          <p lang="en">King trumpet mushroom</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">65</p>
            <h3>INARI</h3>
            <p class="price">5 €</p>
          </header>
          <p>Tofu friettiert</p>
          <p lang="en">Deep-fried tofu</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">66</p>
            <h3>TAMAGO</h3>
            <p class="price">5 €</p>
          </header>
          <p>Omlette süß</p>
          <p lang="en">Sweet omlette</p>
        </article>
      </section>
      <section>
        <h3>HOSOMAKI</h3>
        <section class="info">
          <p>6 Stück</p>
          <p lang="en">6 pieces</p>
        </section>
        <article data-id="70_Bitsu">
          <header>
            <p class="article-id">70</p>
            <h3>BITSU</h3>
            <p class="price">4 €</p>
          </header>
          <p>Rote Beete, Sesam</p>
          <p lang="en">Beetroot, sesame</p>
        </article>
        <article data-id="71_Kappa">
          <header>
            <p class="article-id">71</p>
            <h3>KAPPA</h3>
            <p class="price">4 €</p>
          </header>
          <p>Gurken, Sesam</p>
          <p lang="en">Cucumber, sesame</p>
        </article>
        <article data-id="72_Avokado">
          <header>
            <p class="article-id">72</p>
            <h3>ABOKADO</h3>
            <p class="price">4 €</p>
          </header>
          <p>Avocado</p>
        </article>
        <article data-id="73_Shinko">
          <header>
            <p class="article-id">73</p>
            <h3>SHINKO</h3>
            <p class="price">4 €</p>
          </header>
          <p>Rettich eingelegt</p>
          <p lang="en">Pickled radish</p>
        </article>
        <article data-id="74_Tekka">
          <header>
            <p class="article-id">74</p>
            <h3>TEKKA</h3>
            <p class="price">7 €</p>
          </header>
          <p>Thunfisch</p>
          <p lang="en">Tuna</p>
        </article>
        <article data-id="75_Sake">
          <header>
            <p class="article-id">75</p>
            <h3>SAKE</h3>
            <p class="price">6 €</p>
          </header>
          <p>Lachs</p>
          <p lang="en">Salmon</p>
        </article>
        <article data-id="76_Asupara">
          <header>
            <p class="article-id">76</p>
            <h3>ASUPARA</h3>
            <p class="price">5 €</p>
          </header>
          <p>Spargel</p>
          <p lang="en">Asparagus</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">77</p>
            <h3>SUZUKI</h3>
            <p class="price">6 €</p>
          </header>
          <p>Seewolf</p>
          <p lang="en">Sea bass</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">78</p>
            <h3>AKI</h3>
            <p class="price">4 €</p>
          </header>
          <p>Mango</p>
          <p lang="en">Mango</p>
        </article>
      </section>
      <section>
        <h3>URAMAKI</h3>
        <section class="info">
          <p>8 Stück</p>
          <p lang="en">8 pieces</p>
        </section>
        <article data-id="80_Sachinko">
          <header>
            <p class="article-id">80</p>
            <h3>SACHIKO</h3>
            <p class="price">7 €</p>
          </header>
          <p>Lachs, Mango, Gurken, Ingwer, Shiso</p>
          <p lang="en">Salmon, mango, cucumber, ginger, Shiso</p>
        </article>
        <article data-id="81_Junko">
          <header>
            <p class="article-id">81</p>
            <h3>JUNKO</h3>
            <p class="price">6 €</p>
          </header>
          <p>Lachshaut gebraten, Philly-Cheese, Gurken, Sesam</p>
          <p lang="en">Fried salmon skin, cream cheese, cucumber, sesame</p>
        </article>
        <article data-id="82_Sayuri">
          <header>
            <p class="article-id">82</p>
            <h3>SAYURI</h3>
            <p class="price">6 €</p>
          </header>
          <p>Spargel, Philly-Cheese, Rucola, schwarzer Sesam</p>
          <p lang="en">Asparagus, cream cheese, rocket salad, black sesame</p>
        </article>
        <article data-id="83_Pirikara">
          <header>
            <p class="article-id">83</p>
            <h3>PIRIKARA</h3>
            <p class="price">10 €</p>
          </header>
          <p>Thunfisch pikant, Schnittlauch, Sesam, Chilisauce</p>
          <p lang="en">Spicy tuna, chive, sesame, chili sauce</p>
        </article>
        <article data-id="84_Kaori">
          <header>
            <p class="article-id">84</p>
            <h3>KAORI</h3>
            <p class="price">6 €</p>
          </header>
          <p>Auberginen-Tempura, Miso-Sauce</p>
          <p lang="en">Eggplant Tempura, Miso sauce</p>
        </article>
        <article data-id="85_Philadelphia">
          <header>
            <p class="article-id">85</p>
            <h3>PHILADELPHIA</h3>
            <p class="price">7 €</p>
          </header>
          <p>Garnelen, Philly-Cheese, Rucola</p>
          <p lang="en">Prawns, cream cheese, rocket salad</p>
        </article>
        <article data-id="86_California">
          <header>
            <p class="article-id">86</p>
            <h3>CALIFORNIA</h3>
            <p class="price">8 €</p>
          </header>
          <p>Garnelen, Gurke, Avocado, Tobikko</p>
          <p lang="en">Prawns, cucumber, avocado, fish roes</p>
        </article>
      </section>
      <section>
        <h3>994’s BIG ROLLS</h3>
        <section class="info">
          <p>6 Stück</p>
          <p lang="en">6 pieces</p>
        </section>
        <article data-id="310_Nao">
          <header>
            <p class="article-id">310</p>
            <h3>NAO</h3>
            <p class="price">7 €</p>
          </header>
          <p>Krebsfleisch, Philly-Cheese, Avocado, Tonkatsu Sauce, paniert</p>
          <p lang="en">Crab meat, cream cheese, avocado, Tonkatsu sauce, Panko-breaded</p>
        </article>
        <article data-id="311_Mr_Crab">
          <header>
            <p class="article-id">311</p>
            <h3>MR. CRAB</h3>
            <p class="price">11 €</p>
          </header>
          <p>Taschenkrebs frittiert, Avocado, Gurken, Tobikko, Rettich</p>
          <p lang="en">Deep-fried edible crab, avocado, cucumber, fish roes, pickled radish</p>
        </article>
        <article data-id="312_Mayumi">
          <header>
            <p class="article-id">312</p>
            <h3>MAYUMI</h3>
            <p class="price">8 €</p>
          </header>
          <p>Avocado frittiert, Philly-Cheese, Gurke, Tomatenflocken</p>
          <p lang="en">Deep-fried avocado, cream cheese, cucumber, tomato flakes</p>
        </article>
        <article data-id="313_Dana">
          <header>
            <p class="article-id">313</p>
            <h3>DANA</h3>
            <p class="price">7 €</p>
          </header>
          <p>Lachs, Avocado, Rote Beete, Tonkatsu Sauce, paniert</p>
          <p lang="en">Salmon, avocado, beetroot, Tonkatsu sauce, Panko-breaded</p>
        </article>
      </section>
      <section>
        <h3>994’s SIGNATURES</h3>
        <section class="info">
          <p>8 Stück</p>
          <p lang="en">8 pieces</p>
        </section>
        <article data-id="320_Haruna">
          <header>
            <p class="article-id">320</p>
            <h3>HARUNA</h3>
            <p class="price">9 €</p>
          </header>
          <p>Spargel-Tempura, Avocado, Philly-Cheese, Sesam</p>
          <p lang="en">Asparagus Tempura, avocado, cream cheese, sesame</p>
        </article>
        <article data-id="321_Tomoko">
          <header>
            <p class="article-id">321</p>
            <h3>TOMOKO</h3>
            <p class="price">12 €</p>
          </header>
          <p>Enten-Tempura, Sesam, Schnittlauch, Chili, Chilisauce</p>
          <p lang="en">Duck tempura, sesame, chives, chili, chili sauce</p>
        </article>
        <article data-id="322_Yoko">
          <header>
            <p class="article-id">322</p>
            <h3>YOKO</h3>
            <p class="price">10 €</p>
          </header>
          <p>Hühnchen, Mango, Gurke, Sesam, Unagi-Sauce</p>
          <p lang="en">Fried chicken, mango, cucumber, sesam, Unagi sauce</p>
        </article>
        <article data-id="323_Sate_Roll">
          <header>
            <p class="article-id">323</p>
            <h3>SATÉ ROLL</h3>
            <p class="price">10 €</p>
          </header>
          <p>Saté Hühnchen, Avocado, Erdnusssauce</p>
          <p lang="en">Saté chicken, avocado, peanut sauce</p>
        </article>
        <article data-id="324_Smokey_Salmon">
          <header>
            <p class="article-id">324</p>
            <h3>SMOKEY SALMON</h3>
            <p class="price">10 €</p>
          </header>
          <p>Räucherlachs, Philly-Cheese, Apfel, Mango, Gurken, Koriander, Unagi-Sauce</p>
          <p lang="en">Smoked salmon, cream cheese, apple, mango, cucumber, coriander, Unagi sauce</p>
        </article>
        <article data-id="325_Spicy_Tiger">
          <header>
            <p class="article-id">325</p>
            <h3>SPICY TIGER</h3>
            <p class="price">12 €</p>
          </header>
          <p>Garnelen-Tempura, Rettich, Chili-Mayo, Salat, Sesam</p>
          <p lang="en">Prawn Tempura, radish, Chili-Mayo, salad, sesame</p>
        </article>
        <article data-id="326_Yukiko">
          <header>
            <p class="article-id">326</p>
            <h3>YUKIKO</h3>
            <p class="price">14 €</p>
          </header>
          <p>Aal, Lachshaut, Gurken, Philly-Cheese, Lachs, Ikura, Unagi-Sauce</p>
          <p lang="en">Eel, salmon skin, cucumber, cream cheese, salmon, Ikura, Unagi sauce</p>
        </article>
        <article data-id="327_Momo">
          <header>
            <p class="article-id">327</p>
            <h3>MOMO</h3>
            <p class="price">13 €</p>
          </header>
          <p>Lachstatar pikant, Mango, Gurken, Lachs flambiert, Tobikko, Chili-Mayo, Unagi-Sauce</p>
          <p lang="en">Spicy salmon tatar, mango cucumber, salmon flambé, fish roes, chili mayo, Unagi sauce
          </p>
        </article>
        <article data-id="328_Midori">
          <header>
            <p class="article-id">328</p>
            <h3>MIDORI</h3>
            <p class="price">14 €</p>
          </header>
          <p>Thunfischtatar pikant, Spargel, Avocado, Thunfisch flambiert, Tobikko, Chili-Mayo, Unagi-Sauce
          </p>
          <p lang="en">Spicy tuna tatar, asparagus, avocado, tuna flambé, fish roes, chili mayo, Unagi sauce
          </p>
        </article>
        <article data-id="329_Ebisu">
          <header>
            <p class="article-id">329</p>
            <h3>EBISU</h3>
            <p class="price">14 €</p>
          </header>
          <p>Garnele paniert, Salat, Avocado, Tonkatsu Sauce</p>
          <p lang="en">Panko-breaded prawn, salad, avocado, Tonkatsu sauce</p>
        </article>
        <article data-id="330_Daiki">
          <header>
            <p class="article-id">330</p>
            <h3>DAIKI</h3>
            <p class="price">14 €</p>
          </header>
          <p>Garnele, Avocado, Spargel, Lachs flambiert, Tobikko, Chili-Mayo, Unagi-Sauce</p>
          <p lang="en">Prawn, avocado, asparagus, salmon flambé, fish roes, chili mayo, Unagi sauce</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">331</p>
            <h3>TAO</h3>
            <p class="price">9 €</p>
          </header>
          <p>Tamago, Gurke, Philly-Cheese, Inari on top, Tonkatsusauce</p>
          <p lang="en">Tamago, cucumber, cream cheese, Inari, Tonkatsu sauce</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">332</p>
            <h3>CHICHI</h3>
            <p class="price">8 €</p>
          </header>
          <p>Mango, Gurke, Apfel, Avocado on top</p>
          <p lang="en">Mango, cucumber, apple, avocado on top</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">333</p>
            <h3>MT. FUJI</h3>
            <p class="price">13 €</p>
          </header>
          <p>Mango, Shinko, Gurke, Philly-Cheese, Shisoblatt, <br>Lachstartar on top, Chilisauce</p>
          <p lang="en">Mango, Shinko, cucumber, cream cheese, Shiso leaf, <br>salmon tartar on top, chili sauce</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">334</p>
            <h3>HIKARI</h3>
            <p class="price">14 €</p>
          </header>
          <p>Krebsfleisch, Avocado, Rettich, Tobikko, <br>Lachs & Thunfisch on top, Unagisauce</p>
          <p lang="en">Crab meat, avocado, radish, Tobikko,<br>salmon & tuna on top, Unagi sauce</p>
        </article>
        <article data-id="no-photo">
          <header>
            <p class="article-id">335</p>
            <h3>EMIKO</h3>
            <p class="price">14 €</p>
          </header>
          <p>Krebsfleisch, Tobikko, Mango, Gurke, Philly-Cheese,<br> Avocado & Oktopus on top</p>
          <p lang="en">Crab meat, Tobikko, mango, cucumber, cream cheese,<br> avocado & octopus on top</p>
        </article>
      </section>
      <section>
        <h3>994’s SELECTION PLATE</h3>
        <article data-id="">
          <header>
            <p class="article-id">93</p>
            <h3>TSUKIJI</h3>
            <p class="price">18 €</p>
          </header>
          <p>6 Nigiri</p>
        </article>
        <article data-id="94_Ginza">
          <header>
            <p class="article-id">94</p>
            <h3>GINZA</h3>
            <p class="price">18 €</p>
          </header>
          <p>4 Nigiri, 1 Uramaki</p>
        </article>
        <article data-id="95_Tokyomix">
          <header>
            <p class="article-id">95</p>
            <h3>TOKYO</h3>
            <p class="price">25 €</p>
          </header>
          <p>4 Nigiri, 1 Uramaki, Sashimi</p>
        </article>
        <article data-id="96_Kabuki">
          <header>
            <p class="article-id">96</p>
            <h3>KABUKI</h3>
            <p class="price">18 €</p>
          </header>
          <p>Tekka, Avocado, Sachiko</p>
        </article>
        <article data-id="97_Shinjuku">
          <header>
            <p class="article-id">97</p>
            <h3>SHINJUKU</h3>
            <p class="price">50 €</p>
          </header>
          <p>6 Nigiri vom Lachs, Thunfisch, Garnele, Sashimi vom Lachs und Thunfisch, Haruna, Momo</p>
          <p lang="en">6 Nigiri of salmon, tuna, prawns, Sashimi of salmon and tuna, Haruna, Momo</p>
        </article>
        <article data-id="98_Shibuya">
          <header>
            <p class="article-id">98</p>
            <h3>SHIBUYA</h3>
            <p class="price">18 €</p>
          </header>
          <p>3 Nigiri, Tamago Uramaki, Avocado Hosomaki</p>
        </article>
        <aside>
          <p>Alle Sushi Sorten werden mit Wasabi und Ingwer serviert</p>
          <p lang="en">Sushi is accompanied by wasabi and ginger</p>
        </aside>
      </section>
    </section>
    <section id="desserts">
      <h2>DESSERTS</h2>
      <article data-id="110_Matca_Creme_Brule">
        <header>
          <p class="article-id">110</p>
          <h3>MATCHA CRÉME BRULÉE</h3>
          <p class="price">8 €</p>
        </header>
        <p>Matcha, Créme Brulée</p>
      </article>
      <article data-id="">
        <header>
          <p class="article-id">111</p>
          <h3>MATCHA</h3>
          <p class="price">3 €</p>
        </header>
        <p>Grünteeeis</p>
        <p lang="en">Green tea ice cream</p>
      </article>
      <article data-id="">
        <header>
          <p class="article-id">112</p>
          <h3>GOMA</h3>
          <p class="price">3 €</p>
        </header>
        <p>Sesameis</p>
        <p lang="en">Sesame ice cream</p>
      </article>
      <article data-id="113_Mochi">
        <header>
          <p class="article-id">113</p>
          <h3>MOCHI SELECTION</h3>
          <p class="price">10 €</p>
        </header>
        <p>Reiskuchen, Eisfüllung</p>
        <p lang="en">Rice cake, ice cream filling</p>
      </article>
      <article data-id="114_Kokos_Panna_Cotta">
        <header>
          <p class="article-id">114</p>
          <h3>COCOS PANNA COTTA</h3>
          <p class="price">7 €</p>
        </header>
        <p>Kokosnussmilch, Mangosauce</p>
        <p lang="en">Coconut milk, mango sauce</p>
      </article>
      <article data-id="115_Roco_Coco_02">
        <header>
          <p class="article-id">115</p>
          <h3>ROCO COCO</h3>
          <p class="price">6 €</p>
        </header>
        <p>Schwarzer Klebreis, Kokosnussmilch, Früchte</p>
        <p>Black rice, coconut milk, fruits</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">116</p>
          <h3>YUZU</h3>
          <p class="price">3 €</p>
        </header>
        <p>Yuzueis</p>
        <p>Yuzu ice cream</p>
      </article>
      <article data-id="no-photo">
        <header>
          <p class="article-id">117</p>
          <h3>KUDAMONO</h3>
          <p class="price">9 €</p>
        </header>
        <p>Früchte der Saison</p>
        <p>Seasonal fruits</p>
      </article>
    </section>
    <aside aria-label="aside">
      <section>
        <section>
          <p>Alle Speisen können Spuren von Gluten und Sesam enthalten.</p>
          <p>Bei Fragen zu enthaltenen Allergenen wenden Sie sich bitte an unser Personal.</p>
        </section>
        <section lang="en">
          <p>All dishes can contain traces of gluten and sesame.</p>
          <p>Please ask our staff if you need additional information on food allergenes.</p>
        </section>
      </section>
      <section>
        <section>
          <p>EC-Karte ab 20 €</p>
          <p>Kreditkarte (Visa, Mastercard) ab 40 €</p>
        </section>
        <section lang="en">
          <p>EC-card from 20 €</p>
          <p>Credit card (Visa, Mastercard) from 40 €</p>
        </section>
        <section id="order_conditions" lang="de">
          <!--<p>Kostenlose Lieferung:</p>
          <p>Zone A ab 35€<br>90402, 90403, 90443, 90419, 90429, 90408, 90409, 90489, 90478, 90461, 90459, 90441, 90439, 90431</p>
          <p>Zone B ab 60€<br>90425, 90411, 90491, 90482, 90480, 90469, 90451, 90449, 90427 bis Anhöhe Metro, 90763</p>
          <p>Zone C ab 100€<br>90473, 90471, 90453, 90455, 90547, 90427 nach der Metro</p>-->
          <p>Lieferkonditionen:</p>
          <p>Zone A 4€<br>90402, 90403, 90443, 90419, 90429, 90408, 90409, 90489, 90478, 90461, 90459, 90441, 90439,
            90431</p>
          <p>Zone B 6€<br>90425, 90411, 90491, 90482, 90480, 90469, 90451, 90449, 90427 bis Anhöhe Metro, 90763</p>
          <p>Zone C 8€<br>90473, 90471, 90453, 90455, 90547, 90427 nach der Metro</p>
        </section>
      </section>
    </aside>
    <p class="backlink" style="margin-top:15px; margin-bottom:0px;"><a href="https://994ginza-order.de/"
                                                                       target="_blank">Order</a></p>
    <p class="backlink"><a routerLink="home">Back</a></p>
  </section>
</main>
