<main>
  <section class="logo">
    <picture><a routerLink="home"><img src="assets/logos/994-ginza-logo-kanji-white.svg" alt="994 GINZA"></a></picture>
  </section>
  <section class="text-content"><h1>Imprint</h1>
    <p style="margin-bottom: 1em">Geschäftsführer und Verantwortlicher für den Inhalt gemäß § 5 TMG</p>
    <p>994 GINZA</p>
    <p>Rothenburger Str. 9</p>
    <p style="margin-bottom: 1em">90433 Nürnberg</p>
    <p style="margin-bottom: 1em">Inhaber: Hoang Son Ngo</p>
    <p style="margin-bottom: 1em">St.-Nr.: 249/255/04441</p>
    <p style="margin-bottom: 1em">Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
      Vollständigkeit und
      Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
      Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8
      bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde
      Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit
      hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
      allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
      Zeitpunkt der Kenntnis einer konkreten Rechts-verletzung möglich. Bei Bekanntwerden von entsprechenden
      Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

    <p>Webdesign & Concept <a href="mailto:hi@mariojohannesigel.com">Mario Johannes Igel (Studio MJI)</a><br>
      CI & Printdesign <a href="https://www.instagram.com/blank__________official_____/" target="_blank">Nina Pusch
        (Blank)</a>
      <br> © 2021 994 GINZA. All rights reserved.</p>

    <p class="backlink"><a routerLink="home">Back</a></p></section>
</main>
