<main>
  <section class="logo">
    <picture><a href="index.html"><img src="assets/logos/994-ginza-logo-kanji-white.svg" alt="994 GINZA"></a></picture>
  </section>
  <section class="text-content">
    <div class="text-content-wrap">
      <h1><img src="assets/logos/994-ginza-logo-white.svg" alt="994 GINZA"></h1>
      <section><p>Rothenburger Str. 9</p>
        <p>90443 Nürnberg</p>
        <p style="margin-bottom: 1em;"><a href="tel:+4991192919966">0911 / 929 199 66</a></p></section>
      <section><p><a href="mailto:info@994ginza.de">info@994ginza.de</a></p>
        <p>Besuch uns auf</p>
        <p><a href="https://www.facebook.com/994ginza/">Facebook</a> & <a
          href="https://www.instagram.com/994_ginza/">Instagram</a></p></section>
      <section><p class="hours-link"><a href="hours/hours.html">Closed &#9785; Opens: 11.30am</a></p></section>
    </div>
  </section>
</main>
