<main>
  <section class="logo">
    <picture><a routerLink="home"><img src="assets/logos/994-ginza-logo-kanji-white.svg" alt="994 GINZA"></a></picture>
  </section>
  <section class="text-content">
    <div class="sticky">
      <h1>994 GINZA</h1>
      <p style="margin-bottom: 1em">
        Das 994 GINZA begrüßt Euch ganz herzlich und lädt ein, in japanisch urbanem Ambiente feines Sushi & Izakaya zu
        genießen.</p>

      <p>Wir bieten Euch eine raffinierte Speisekarte mit einer Vielzahl von kleinen, unkonventionellen Gerichten und
        Sushi aus Meisterhand. Traditionelle Techniken treffen auf die einzigartige Signatur des 994 GINZA. Erlesene
        Weine, erstklassige Cocktails und besondere Sake-Raritäten lassen Eure Herzen höher schlagen. Ihr findet uns am
        Nürnberger Plärrer, direkt gegenüber des Volksbades, mit einem spektakulären Wintergarten. Hier kann zu jedem
        Wetter gemütlich getrunken und gegessen werden.</p>
      <div>
        <p class="backlink"><a routerLink="home">Back</a></p>
      </div>
    </div>
  </section>
  <section class="images">
    <picture><img src="assets/photos/994-ginza-restaurant-001.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-002.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-003.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-004.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-005.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-006.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-007.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-008.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-009.jpg" alt=""></picture>
    <picture><img src="assets/photos/994-ginza-restaurant-010.jpg" alt=""></picture>
  </section>
</main>
