<header>
  <nav aria-label="navigation-wrapper">
    <ul>
      <li><a routerLink="menu">Menu</a></li>
      <li><a routerLink="photos">Photos</a></li>
      <li><a routerLink="hours">Hours</a></li>
    </ul>
  </nav>
</header>
<section>
  <div class="notification-container">
    <div class="notification-header">
      <div>#fooddelivery</div>
      <div class="notification-close">
        <svg viewBox="0 0 39.238 39.238">
          <path class="close-line" d="M 0 32.167 L 16.084 16.084 L 32.167 0" id="Linie_24" data-name="Linie 24"
                transform="matrix(1, 0, 0, 1, 3.536, 3.536)" stroke-linecap="round" stroke-width="5" style="fill: none;"
                stroke="#fff"></path>
          <line class="close-line" id="Linie_25" data-name="Linie 25" x1="32.167" y1="32.167"
                transform="matrix(1, 0, 0, 1, 3.536, 3.536)" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-width="5"></line>
        </svg>
      </div>
    </div>
    <div class="notification-image">
      <img src="assets/message/ginza_takeaway_final.png" alt="">
    </div>
    <div class="notification-text">
      <p class="notification-text-content">Bestell direkt bei uns im Webshop oder telefonisch und erhalte 10% Rabatt bei
        Abholung ab 17 Uhr!<a style="font-size:0.6rem;" href="menu/menu.php/index.html#order_conditions">*Lieferung ab
          4€ "Zone A" (mehr dazu)</a></p>
      <p class="notification-text-content">
        <a href="tel:+4991192919966">0911 / 92919966</a>
      </p>
    </div>
    <div class="notification-order-btn">
      <div>
        <a class="order-btn" href="https://994ginza-order.de/" target="_blank">Order</a>
      </div>
      <div>
        <svg viewBox="10.841 8.951 278.319 282.098">
          <g transform="matrix(9.765569, 0, 0, 9.880836, -2869.103516, -5143.5)" data-bx-origin="0.015628 0.5" style="">
            <g transform="matrix(50,0,0,50,293.858,551.959)">
              <path
                d="M0.58,-0.61L0.591,-0.6L0.591,-0.155L0.49,-0.155L0.49,-0.43L0.102,-0.039L0.021,-0.12L0.41,-0.509L0.135,-0.509L0.135,-0.61L0.58,-0.61Z"
                style="fill-rule:nonzero;"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>

  </div>
</section>
<router-outlet></router-outlet>
<div class="footer-bg"></div>
<footer>
  <nav aria-label="nav-footer">
    <p>
      <a routerLink="imprint">Imprint</a>
    <p>|
    <p><a routerLink="privacy-policy">Privacy Policy</a>
    <p>|
    <p><a routerLink="home">994 GINZA</a></nav>
</footer>
<div class="loading-screen"></div>
<div class="cfx"></div>
<div></div>
