<main>
  <section class="logo">
    <picture><a routerLink="hours"><img src="assets/logos/994-ginza-logo-kanji-white.svg" alt="994 GINZA"></a></picture>
  </section>
  <section class="text-content">
    <div class="text-content-wrap">
      <h1>Hours</h1>
      <p><strong>Montag - Samstag</strong></p>
      <p style="margin-bottom: 1em">Mittags von 11.30 - 14.30</p>
      <p><strong>Montag - Donnerstag</strong></p>
      <p style="margin-bottom: 1em">Abends von 17.30 - 22.30</p>
      <p><strong>Freitag - Sonntag</strong></p>
      <p style="margin-bottom: 1em">Abends von 17.00 - 22.30</p>
      <p>Rothenburger Str. 9</p>
      <p>90443 Nürnberg</p>
      <p><a href="tel:+091192919966">0911 / 929 199 66</a></p>
      <p class="backlink"><a routerLink="home">Back</a></p>
    </div>
  </section>
</main>
